.xcontext_menu {
width: auto;
height: auto;
position: fixed;
z-index: 9999;
padding:0;
background-color:#333333;
display:none;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
overflow:hidden;
border-left:3px solid #CC9900;

}
.xcontext_menu ul
{
	padding:0;
	margin:0;
	
}
.xcontext_menu li {
position:relative;
display:block;
min-width:160px;
margin:2px;
overflow:hidden;
list-style:none;

}

.xcontext_menu a {
display:block;
overflow:hidden;
padding: 8px 0px 8px 5px;
border-bottom:dashed 1px #666666;
text-indent:10px;
position:relative;
text-decoration:none;
color:#FFFFFF;
font-family: 'Ubuntu', sans-serif;
font-size:14px;
width:100%;
height:100%;


}
.xcontext_menu a:hover {
background-image:url(gold.jpg);
background-repeat:no-repeat;
color:#333333;

 
}
.xcontext_menu li ul {
position: absolute;
margin: 0px;
padding: 0px;
left: -3px;
top: 25px;
display: none;
}
.xcontext_menu li ul li {
width: 150px;
font-size: smaller;
border-top: none;
}
.xcontext_menu li ul li:first-child {
border-top: 1px solid #333333;
}
.xcontext_menu li:hover ul {
display: block;
}
